@model IEnumerable<Wisconsys.DAL.Slider>
@{
    ViewBag.Title = "Index";
}



<div class="row">
    @Html.Action("Create", "Slider")
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Projects</h4>
                <div class="options">

                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Back Ground</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            <img src="@Url.Content(item.BackgrounImg)" class="img-responsive" style="height:75px;width:75px" />
                                        </td>
                                        <td>
                                            <img src="@Url.Content(item.Imgurl)" class="img-responsive" style="height:75px;width:75px" />
                                        </td>
                                        <td>
                                            @item.Heading
                                        </td>
                                        <td>
                                            @item.Discription
                                        </td>
                                        <td>
                                            @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-danger text-center">
                                        No Record found.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function ValidateFiles() {
            var files = $('.file');
            var isValid = false;
            for (var i = 0; i < files.length; i++) {
                var fileContent = $(files[i]).prop("files");
                if (fileContent.length > 0) {
                    isValid = true;
                } else {
                    isValid = false;
                }
            }
            if (!isValid) {
                alert("Please upload images.");
            }
            return isValid;
        }
    </script>
}
